In [1]:
from clickhouse_driver import connect
from clickhouse_driver import Client
client = Client('localhost', settings={'use_numpy': True})

sql='''SELECT arrayJoin(directions)
FROM recipes
WHERE title = 'Chocolate-Strawberry-Orange Wedding Cake'
'''
client.query_dataframe(sql)

                                 arrayJoin_directions_
0    Position 1 rack in center and 1 rack in bottom...
1    Butter one 5-inch-diameter cake pan with 2-inc...
2    Dust pans with flour; line bottoms with parchm...
3    Combine 1/3 cup orange juice and 2 ounces unsw...
4    Stir mixture over medium-low heat until chocol...
..                                                 ...
121                  Remove top and middle cake tiers.
122                          Remove dowels from cakes.
123              Cut top and middle cakes into slices.
124  To cut 12-inch cake: Starting 3 inches inward ...
125  Cut outer portion of cake into slices; cut inn...

[126 rows x 1 columns]

In [2]:
sql='''SELECT
    title,
    length(NER),
    length(directions)
FROM recipes
WHERE has(NER, 'strawberry')
ORDER BY length(directions) DESC
LIMIT 10
'''
client.query_dataframe(sql)

,title,length_NER_,length_directions_
0,Chocolate-Strawberry-Orange Wedding Cake,24,126
1,Strawberry Cream Cheese Crumble Tart,19,47
2,Charlotte-Style Ice Cream,11,45
3,Sinfully Good a Million Layers Chocolate Layer...,31,45
4,Sweetened Berries With Elderflower Sherbet,24,44
5,Chocolate-Strawberry Mousse Cake,15,42
6,Rhubarb Charlotte with Strawberries and Rum,20,42
7,Old-Fashioned Ice Cream Sundae Cake,17,37
8,Chef Joey's Strawberry Vanilla Tart,7,37
9,Watermelon Cake,16,36