In [1]:
from clickhouse_driver import connect
from clickhouse_driver import Client

client = Client('localhost', settings={'use_numpy': True})
sql='''SELECT avg(geoDistance(longitude_1, latitude_1, longitude_2, latitude_2)) FROM opensky;
'''

In [2]:
client.query_dataframe(sql)

   avg_geoDistance_longitude_1__latitude_1__longitude_2__latitude_2__
0                                       1.202421e+06

In [3]:
sql='''SELECT
    origin,
    count(),
    round(avg(geoDistance(longitude_1, latitude_1, longitude_2, latitude_2))) AS distance,
    bar(distance, 0, 10000000, 100) AS bar
FROM opensky
WHERE origin != ''
GROUP BY origin
ORDER BY count() DESC
LIMIT 100;
'''
client.query_dataframe(sql)

   origin  count__   distance                              bar
0    KORD    69636  1561075.0                 ███████████████▌
1    KLAX    67517  2601925.0       ██████████████████████████
2    KDFW    64572  1400285.0                   ██████████████
3    EGLL    51721  3075442.0  ██████████████████████████████▋
4    OMDB    50708  2522827.0       █████████████████████████▏
..    ...      ...        ...                              ...
95   PANC    11888  3055839.0  ██████████████████████████████▌
96   KPBI    11804  1348125.0                   █████████████▍
97   LIML    11786   746156.0                         ███████▍
98   KTPA    11757  1389318.0                   █████████████▊
99   EPWA    11546  1478141.0                  ██████████████▋

[100 rows x 4 columns]

In [4]:
sql='''SELECT
    toMonday(day) AS k,
    count() AS c,
    bar(c, 0, 10000, 100) AS bar
FROM opensky
WHERE origin IN ('UUEE', 'UUDD', 'UUWW')
GROUP BY k
ORDER BY k ASC;'''
client.query_dataframe(sql)

            k     c                                                bar
0  2018-12-31  5248  ██████████████████████████████████████████████...
1  2019-01-07  6302  ██████████████████████████████████████████████...
2  2019-01-14  5701  ██████████████████████████████████████████████...
3  2019-01-21  5638  ██████████████████████████████████████████████...
4  2019-01-28  5731  ██████████████████████████████████████████████...
5  2019-02-04  5683  ██████████████████████████████████████████████...
6  2019-02-11  5759  ██████████████████████████████████████████████...
7  2019-02-18  5736  ██████████████████████████████████████████████...
8  2019-02-25  5873  ██████████████████████████████████████████████...
9  2019-03-04  5965  ██████████████████████████████████████████████...
10 2019-03-11  5900  ██████████████████████████████████████████████...
11 2019-03-18  5823  ██████████████████████████████████████████████...
12 2019-03-25  5899  ██████████████████████████████████████████████...